/application/constants.php
/vendor/
/public/assets/grunt/debug
/public/assets/grunt/node_modules

/public/packages
/public/.htpasswd

/data/backup/.data
/data/backup/.cache/*
/data/backup/.tmp/*
/data/backup/log/*

# temp folders
/temp/debugbar
/temp/cache/*
/temp/logs/*
/temp/minified/*
/temp/session/*
/temp/uploads/*

# mac crap
.DS_Store
